.screen {
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    display: none;
}

/* Líneas superior e inferior */
.top-line,
.bottom-line {
    width: 928px;
    height: 10px;
    position: absolute;
    background: #E5E5E5;
    border: 3px #E5E5E5 solid;
    left: 48px;
}

.top-line {
    top: 48px;
}

.bottom-line {
    top: 552px;
}

/* Contenedores genéricos */
.center-container {
    width: 922px;
    position: absolute;
    left: 51px;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* IDLE */
.gameName {
    color: #E5E5E5;
    font-size: 130px;
    font-family: Fugaz One;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 130px;
    white-space: nowrap;
}

.idle-subtitle {
    color: #EDE173;
    font-size: 64px;
    font-family: Fugaz One;
    text-transform: uppercase;
    line-height: 80px;
}

/* PRUEBA */
.prueba-text {
    color: #EDE173;
    font-size: 100px;
    font-family: Fugaz One;
    font-weight: 400;
    text-transform: uppercase;
}

/* LOADING */
.loading-container {
    position: absolute;
    left: 109px;
    top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
}

.loading-title {
    color: white;
    font-size: 64px;
    font-family: Fugaz One;
    text-transform: uppercase;
}

.countdownTimer {
    color: white;
    font-size: 130px;
    font-family: Fugaz One;
    text-transform: uppercase;
}